extends base

block content
    main.main.container.center
        .heading
            h1.heading-secondary.ma-bt-md You are currently not signed up for any tours.
        .button
            a.btn.btn--green(href="/") Find a tour